* {
  font-family: 'Josefin Sans';
}

nav {
  height: 40px;
  background-color: #3c3939;
  margin: 0;
  padding: 0;
  top: 0;
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1;
}

nav .nav-links {
  padding: 8px 0;
  margin: 0;
  float: right;
}

nav .nav-links li {
  display: inline-block;
}

nav .nav-links li a {
  padding: 0 16px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.brand-logo {
  float: left;
}

.brand-logo img {
  width: 56px;
  padding: 4px;
}

.fluid-container{
  margin: 20px 0;
}

.c-label{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  box-shadow: 1px 1px 1px gray;
  padding: 4px 24px;
  font-size: 24px!important;
}

.c-complain-text{
  font-size: 15px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place**/
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin: 40%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: gray;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0px; opacity: 1}
}
