<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NitiAyog</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
  <nav>
    <ul class="brand-logo">
      <a href="#">
        <img src="https://image.flaticon.com/icons/svg/317/317569.svg" alt="">
      </a>
      <center><h6>India</h6></center>
    </ul>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Complains</a></li>
      <li><a href="#">Progress</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="fluid-container">
      <div class="c-label">Complains</div>
      {% for comp in data %}
      <div class="ui segment">
        <div class="row col-lg-12">
          <div class="col-lg-2">
            <img class="ui small image" src="{{ comp.image }}">
            <button class="col-lg-12 btn btn-success" style="margin-top:4px;">Test</button>
            <button class="col-lg-12 btn btn-info" style="margin-top:4px;">Assign</button>
          </div>
          <div class="col-lg-10">
            <h3 class="c-complain-title">{{ comp.title }}</h3>
            <hr>
            <p class="c-complain-text">{{ comp.text }}</p>
            <p style="float:left; font-size:16px;"><i class="fas fa-map-marker-alt"></i> {{ comp.location }}</p>
            <p style="float:right; font-size:16px;"><i class="fas fa-user"></i> {{ comp.compl_by_id }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>
